@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
    color: #fff;
}

html,body {
    overflow-x: hidden;
    /* background: #000; */
}

html {
    scroll-behavior: smooth;
}

#header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5em 5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99999;
}

#header .logo {
    color: #002431;
    font-weight: 900;
    font-size: 2.5rem;
    text-decoration: none;
}

#header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

#header ul li {
    list-style: none;
    margin: 0px 10px;
}

#header ul li a {
    text-decoration: none;
    color: #003549;
    padding: 6px 15px;
    border-radius: 20px;
}

#header ul li a:hover,
#header ul li a.active {
    background: #003549;
    color: white;
}

section {
    position: relative;
    width: 100%;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

section::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #085a7a, transparent);
    z-index: 10;
}

section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

section #text span {
    font-size: 0.2em;
    font-weight: 400;
    color: white;
    letter-spacing: 2px;
}

section #text {
    position: absolute;
    color: #004660;
    font-size: 10vw;
    text-align: center;
    top: 50%;
    line-height: 0.5em;
    font-family: 'Rancho' cursive;
    transform: translateY(-50%);
}

#explore {
    Text-decoration: none;
    padding: 10px 25px;
    background: white;
    color: #003549;
    font-size: 1.4em;
    font-weight: bold;
    letter-spacing: 2px;
    border-radius: 40px;
    transform: translateY(100px);
}

#explore:hover {
    background: #003549;
    color:white;
}

.sec {
    position: relative;
    padding: 10%;
    background: #085a7a;
    padding-bottom: 15%;
    z-index: 50;
    overflow: hidden;
}

.sec h2 {
    font-size: 3.5em;
} 

.sec #name {
    font-size: 1.2em;
    font-family: 'Rancho', cursive;
    letter-spacing: 2px;
    font-weight: 500;
    margin-bottom: 20px;
}

.sec h3 {
    font-size: 1.8em;
    margin: 2%;
}

.sec h4 {
    font-size: 1.2em;
    text-decoration: underline;
    font-weight: 600;
}

.sec p {
    margin: 10px 20px 40px;
}

.sec ul {
    margin: 0 5%;
}

.sec ul li {
    margin: 2%;
}

.undersea {
    position: absolute;
    opacity: 1;
}

#sea1 {
    top: 10%;
    left: 1%;
    width: 20%;
}

#sea2 {
    top: 16%;
    right: 0;
    width: 10%;
}

#sea3 {
    top: 40%;
    left: 0;
    width: 12%;
}

#sea4 {
    top: 50%;
    right: 0;
    width: 12%;
}

#sea5 {
    top: 70%;
    left: 1%;
    width: 10%;
}

#sea6 {
    top: 75%;
    right: 2%;
    width: 10%;
}

#sea7 {
    top: 90%;
    right: 70%;
    width: 10%;
}

#sea8 {
    bottom: 0;
    left: 55%;
    width: 10%;
    z-index: 100;
}

.glass {
    background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
    border-radius: 15px;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    box-shadow: 20px 20px 40px rgba(0,0,0,0.2);
    backdrop-filter: blur(10px);
    padding: 1em;
    margin-bottom: 2%;
}

.fishes {
    position: absolute;
    opacity: 1;
}

#fish1 {
    top: 0%;
}

#fish2 {
    top: 30%;
    left: 55%;
}

#fish3 {
    top: 57%;
    left: 70%;
}

#fish4 {
    top: 87%;
    left: 65%;
}

#seabed {
    width: 100%;
    left: 0;
    bottom: 0;
    opacity: 1;
}

.bubbles {
    display: flex;
    width: 100%;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    --transform-duration: 6s;
    --transform-y: -300vh; /* Change this to adjust the bubbles */
}

.bubbles img {
    opacity: 0;
    animation-name: bubble;
    animation-timing-function: linear;
    animation-duration:  var(--transform-duration);
    animation-iteration-count: infinite;
}

@keyframes bubble {
    0% {
        transform: translateY(0);
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    100% {
        transform: translateY(var(--transform-y));
        opacity: 1;
    }
}

.bubbles img:nth-child(1) {
    animation-delay: 2s;
}

.bubbles img:nth-child(2) {
    animation-delay: 5s;
}

.bubbles img:nth-child(3) {
    animation-delay: 3s;
}

.bubbles img:nth-child(4) {
    animation-delay: 6s;
}

.bubbles img:nth-child(5) {
    animation-delay: 1s;
}

.bubbles img:nth-child(6) {
    animation-delay: 4s;
}

.bubbles img:nth-child(7) {
    animation-delay: 9s;
}

/* To adjust the white line below */
.footer {
    width: 100%;
    background: #e6bb95;
    text-align: center;
    padding: 10px 0px;
    color: rgb(252, 251, 251);
    font-weight: bold;
}

.footer span {
    color: white;
    padding: 10px 0px;
}

.wrapper {
    margin: 5px;
}

.wrapper .social-media {
    display: inline-block;
    height: 50px;
    width: 50px;
    margin: 0 5px;
    overflow: hidden;
    background: #000000;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 10px 10px rgba(0 , 0 , 0 , 0.1);
    transition: all 0.3s ease-out;
}

.wrapper .social-media:hover {
    width: 11rem;
    text-align: left;
}

.wrapper .social-media:hover i {
    transform: rotate(360deg);
}

.wrapper .social-media .icon {
    display: inline-block;
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 50px;
}

.wrapper .social-media .icon i {
    font-size: 25px;
    line-height: 50px;
    color: #fff;
    transition-duration: 1s;
    transition-property: transform;
}

.wrapper .social-media:nth-child(1) span {
    color: #ffffff;
}

.wrapper .social-media:nth-child(2) span {
    color: #ffffff;
}

.wrapper .social-media span {
    font-size: 20px;
    font-weight: 500;
    margin-left: 10px;
    transition: all 0.3s ease-out;
}


#top {
    position: fixed;
    width: 50px;
    height: 50px;
    background: green;
    bottom: 10%;
    right: 2%;
    text-decoration: none;
    text-align: center;
    border-radius: 50%;
    line-height: 50px;
    color: white;
    font-size: 25px;
    box-shadow: 0 10px 10px #000;
    z-index: 100;
}

@media screen and (max-width: 650px) {


    #header {
        display: flex;
        flex-direction: column;
        padding: 1em 2em;
        justify-content: center;
    }

    #header ul {
        padding: 0.5em;
    }

    section #text {
        font-size: 20vw;
        /* Adjust according to the screen size */
    }

    section img#cloud {
        object-fit: contain;
        height: 600px;
        width: 600px;
    }

    section img#bird1 {
        object-fit: contain;
        height: 600px;
        width: 400px;
    }

    .sec ul li {
        margin: 20px;
    }

    .sec ul {
        margin: 0px 0px;
    }

    .sec h3 {
        font-size: 1.5em;
        margin: 20px 0px;
    }

    .sec p {
        margin: 1% 4%;
    }

    #seabed {
        object-fit: contain;
        left: 0;
        width: 750px;
    }

    .glass {
        backdrop-filter: blue(1px);
    }

    #sea1 {
        top: 9%;
        width: 40%;
    }

    #sea2 {

        top: 25%;
        width: 20%;
    }

    #sea3 {
        top: 42%;
        width: 25%;
    }

    #sea4 {
        top: 52%;
        width: 25%;
    }

    #sea5 {
        top: 72%;
        left: 1%;
        width: 25%;
    }

    #sea6 {
        top: 80%;
        right: 2%;
        width: 15%;
    }

    #sea7 {
        top: 95%;
        right: 1%;
        width: 20%;
    }

    #sea8 {
        left: 50%;
        width: 15%;
    }
}

@media screen and (max-width: 500px) {

    .wrapper .social-media:hover {
        width: 50px;
    }
}